<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Page</title>
		<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
			<script>
			  // Initialize Firebase
			  var config = {
			    apiKey: "AIzaSyAsyXJhywc5hz55YYt_Zh2z_RZHYHB-aD4",
			    authDomain: "node-intro.firebaseapp.com",
			    databaseURL: "https://node-intro.firebaseio.com",
			    projectId: "node-intro",
			    storageBucket: "node-intro.appspot.com",
			    messagingSenderId: "125055913313"
			  };
			  firebase.initializeApp(config);
			</script>
</head>
<body>
	<h1>Generic Sign-Up page</h1>
	<form action="">
		<div>
			<label>Name</label>
			<input type="text" name="user_name">
		</div>
		<div>
			<label>Email</label>
			<input type="mail" name="user_email">
		</div>
		<div>
			<label>Password</label>
			<input type="password" name="user_password">
		</div>	
		<div>
			<button type="submit">Sign-Up!</button>
		</div>
	</form>
</body>
</html>