<!DOCTYPE html>
<html>
<head>
	<title>Login Portal</title>
</head>
<body>
	<h2>Room booking Portal</h2>
	<h3>Login</h3>
	<form>
		<label>Registration No</label><input type="number" name="regno">
		<br />
		<br />
		<label>Password</label><input type="Password" name="pass">
		<br />
		<br />
		<button type="submit">Log In</button>
	</form>
</body>
</html>