<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Page</title>
		<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">	 
		 </script>
		
		<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
			<script>
			  // Initialize Firebase
			  var config = {
			    apiKey: "AIzaSyAsyXJhywc5hz55YYt_Zh2z_RZHYHB-aD4",
			    authDomain: "node-intro.firebaseapp.com",
			    databaseURL: "https://node-intro.firebaseio.com",
			    projectId: "node-intro",
			    storageBucket: "node-intro.appspot.com",
			    messagingSenderId: "125055913313"
			  };
			  firebase.initializeApp(config);
			</script>
		<script type="text/javascript">
			$(document).ready(function(){
				var name,email;
				$("#send").click(function(){
				//	debugger;
					name=$("#name").val();
					email=$("#email").val();
					$("#msg").text("Sending Email......please wait!");
					$.get("http://localhost:3000/send",
						{name: name, user_email: email}, function(data){
							if(data=="sent"){
								$("#msg").empty().html("Email has been sent at " +email+" . Please check inbox!");
							}
						});
				});
			});
		</script>
</head>
<body>
	<h1>Generic Sign-Up page</h1>
	<form>
		<div>
			<label>Name</label>
			<input type="text" id="name" name="user_name" placeholder="Enter Name">
		</div>
		<div>
			<label>Email</label>
			<input type="email" id="email" name="user_email" placeholder="Enter Email-ID">
		</div>
		<div>
			<label>Password</label>
			<input type="password" id="pass" name="user_password">
		</div>	
		<div>
			<button id="send">Sign-Up!</button>
		</div>
	</form>
	<span id="msg"></span>
</body>
</html>