<!DOCTYPE html>
<html>
<head>
	<title>Login Portal</title>
	<script src="https://www.gstatic.com/firebasejs/5.0.1/firebase.js"></script>
	<script src="js/config.js">
	</script>
</head>
<body>
	<h2>Room booking Portal</h2>
	<h3>Login</h3>
	<div id="roomform">
		<label>Email id</label><input type="Email" id="emailid">
		<br />
		<br />
		<label>Password</label><input type="Password" id = "pass">
		<br />
		<br />
		<button onclick={roomlogin()}>Log In</button>
		<button onclick={roompass()}>Forgot Password</button>
	</div>
	<button onclick={roomsignout()} id = "roomout">Sign Out</button>
	
	<script src="js/login.js"></script>
</body>
</html>